body {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-style: none;
    overflow: hidden;
    background-color: black;

}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    width: 100%;
    background-color: yellow;
}

.menu a {
    float : right
}
.container a {
    margin: 10px 20px;
    color: white;
    position: relative;
    font-style: italic;

}

.container a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -4px;
    transition: 0.4s;
}

.container a:hover {
    font-style: normal;
}

.container a:hover::after {
    width: 100%;
}